<nav class="navbar fixed-top navbar-expand-lg navbar-light software-navbar-custom-size">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Sodex</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Current User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<mat-drawer-container class="side-nav-container" [hasBackdrop]="true">
    <mat-drawer class="side-nav-drawer" #drawer [mode]="over">
        <mat-nav-list>
            <a mat-list-item routerLink="/software">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/home.png"> &nbsp;&nbsp; Main Menu
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Setup</label>
            <a mat-list-item routerLink="/software/profile">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/profile.png"> &nbsp;&nbsp; Profile
                </span>
            </a>
            <a mat-list-item routerLink="">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/cards.png"> &nbsp;&nbsp; Cards
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Transaction</label>
            <a mat-list-item routerLink="">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/transfer.png"> &nbsp;&nbsp; Transfer
                </span>
            </a>
            <a mat-list-item routerLink="">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/check-balance.png"> &nbsp;&nbsp; Check Balance
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Reports</label>
            <a mat-list-item routerLink="">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/reports.png"> &nbsp;&nbsp; Ledger
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Admin</label>
            <a mat-list-item routerLink="">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/users.png"> &nbsp;&nbsp; Users
                </span>
            </a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="mat-tool-bar-styles">
            <div class="container-fluid">
                <button type="button" class="btn btn-info" (click)="drawer.toggle()">
                    <i class="fa fa-bars"></i>
                </button>
                &nbsp;
                <span>{{ ToolbarTitle }}</span>
            </div>
        </mat-toolbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>