<nav class="navbar fixed-top navbar-expand-sm navbar-dark software-navbar-custom-size">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="../../assets/images/logo/sodex.png" class="software-navbar-brand-style" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link nav-link-software" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-software" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-software" href="#">Support</a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-software" routerLink="/software">{{ currentUser }}</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserLoggedIn">
                        <a class="nav-link nav-link-software" routerLink="#" (click)="logoutUser()">
                            <i class="fa fa-power-off "></i>
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<mat-drawer-container class="side-nav-container">
    <mat-drawer class="side-nav-drawer" #drawer [mode]="'side'">
        <mat-nav-list>
            <a mat-list-item routerLink="/software" class="side-nav-link-style">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/home.png"> &nbsp;&nbsp; Dashboard
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Setup</label>
            <a mat-list-item routerLink="/software/profile" class="side-nav-link-style">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/store.png"> &nbsp;&nbsp; Profile
                </span>
            </a>
            <a mat-list-item routerLink="/software/cards" class="side-nav-link-style">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/cards.png"> &nbsp;&nbsp; Cards
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Transaction</label>
            <a mat-list-item routerLink="/software/transfer" class="side-nav-link-style">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/transfer.png"> &nbsp;&nbsp; Transfer
                </span>
            </a>
            <a mat-list-item routerLink="/software/checkbalance" class="side-nav-link-style">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/check-balance.png"> &nbsp;&nbsp; Check Balance
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Reports</label>
            <a mat-list-item routerLink="/software/reports" class="side-nav-link-style">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/reports.png"> &nbsp;&nbsp; Ledger
                </span>
            </a>
            <mat-divider></mat-divider>
            <label mat-subheader> &nbsp;&nbsp;&nbsp; Admin</label>
            <a mat-list-item routerLink="/software/users" class="side-nav-link-style">
                <span class="mat-nav-list-a-style">
                    <img src="../../assets/images/icons/users.png"> &nbsp;&nbsp; Users
                </span>
            </a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content style="background-color: #ffffff;">
        <mat-toolbar class="mat-tool-bar-styles">
            <div class="container-fluid">
                <button type="button" class="btn" (click)="openDrawer()">
                    <i class="fa fa-bars"></i>
                </button>
                &nbsp;
                <img id="toolBarImage" class="toolBar-img-style" />
                <span class="toolbar-title-style">
                    {{ ToolbarTitle }}
                </span>
            </div>
        </mat-toolbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<div class="software-footer">
    © 2018, SODE
    <span style="color: rgb(184, 0, 0)">X</span>.IO VERSION 1.1
</div>