<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/software/profile" style="border: 1px solid rgb(199, 199, 199)">
                <br />
                <img src="../../../assets/images/icons/store.png" class="img-icon-styles">
                <br />
                <br />
                <h3>Profile</h3>
                <br />
            </button>
            <br />
        </div>
        <div class="col">
            <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/software/transfer" style="border: 1px solid rgb(199, 199, 199)">
                <br />
                <img src="../../../assets/images/icons/transfer.png" class="img-icon-styles">
                <br />
                <br />
                <h3>Transfer</h3>
                <br />
            </button>
            <br />
        </div>
        <div class="col">
            <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/software/reports" style="border: 1px solid rgb(199, 199, 199)">
                <br />
                <img src="../../../assets/images/icons/reports.png" class="img-icon-styles">
                <br />
                <br />
                <h3>Reports</h3>
                <br />
            </button>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/software/cards" style="border: 1px solid rgb(199, 199, 199)">
                <br />
                <img src="../../../assets/images/icons/cards.png" class="img-icon-styles">
                <br />
                <br />
                <h3>Cards</h3>
                <br />
            </button>
            <br />
        </div>
        <div class="col">
            <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/software/checkbalance" style="border: 1px solid rgb(199, 199, 199)">
                <br />
                <img src="../../../assets/images/icons/check-balance.png" class="img-icon-styles">
                <br />
                <br />
                <h3>Check Balance</h3>
                <br />
            </button>
            <br />
        </div>
        <div class="col">
            <button type="button" class="btn btn-light btn-lg btn-block" routerLink="/software/users" style="border: 1px solid rgb(199, 199, 199)">
                <br />
                <img src="../../../assets/images/icons/users.png" class="img-icon-styles">
                <br />
                <br />
                <h3>Users</h3>
                <br />
            </button>
            <br />
        </div>
    </div>
</div>