<div [hidden]="isLoadingSpinnerHidden">
  <br /><br /><br />
  <mat-spinner style="margin: auto;"></mat-spinner>
</div>
<div [hidden]="isContentHidden">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/software">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
    <div class="card card-default">
      <div class="card-header" align="right">
        <button type="button" class="btn btn-primary" style="margin-right: 5px;" id="btnUpdateProfile" (click)="btnUpdateProfileOnclick()">
          <i class="fa fa-save fa-fw"></i>Save
        </button>
        <button type="button" class="btn btn-primary" style="margin-right: 5px;" id="btnEditProfile" (click)="btnEditProfileOnclick()">
          <i class="fa fa-edit fa-fw"></i>Edit
        </button>
        <button type="button" class="btn btn-danger" id="btnCloseProfile" routerLink="/software">
          <i class="fa fa-close fa-fw"></i>Close
        </button>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-container">
              <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="profile.FullName" [disabled]="isProfileDisabled" autocomplete="off" autocorrect="off"
                  autocapitalize="off" spellcheck="false">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Address" [(ngModel)]="profile.Address" [disabled]="isProfileDisabled" rows="5" style="height: 87px; resize: none;"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="profile.Email" [disabled]="isProfileDisabled" autocomplete="off" autocorrect="off"
                  autocapitalize="off" spellcheck="false">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Contact Number" [(ngModel)]="profile.ContactNumber" [disabled]="isProfileDisabled" autocomplete="off"
                  autocorrect="off" autocapitalize="off" spellcheck="false">
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="form-container">
              <mat-form-field>
                <input matInput type="password" disabled placeholder="Mother Card Number" [(ngModel)]="profile.MotherCardNumber" [disabled]="isProfileDisabled" autocomplete="off"
                  autocorrect="off" autocapitalize="off" spellcheck="false">
              </mat-form-field>
              <mat-form-field>
                <input currencyMask matInput placeholder="Balance" [(ngModel)]="profile.MotherCardBalance" [disabled]="isProfileDisabled"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" value="0.00">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>