/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #ffffff;
}

.home-navbar-custom-size {
    height: 72px;
    box-shadow: 7px 1px 15px 0px #888888;
    background-color: #ffffff;
}

.home-container-custom-size {
    margin-top: 72px;
    border: none;
}

.software-navbar-custom-size {
    height: 45px;
    /* box-shadow: 7px 1px 15px 0px #888888; */
    border-bottom: 1px solid rgb(199, 199, 199);
    font-size: 14px;
    background-color: #ffffff;
}

.navbar > .navbar-brand {
    font-size: 16px;
}

.side-nav-container {
    margin-top: 45px;
    height: calc(100vh - 50px);
}

.side-nav-drawer {
    margin-top: -8px;
    padding-top: 0px;
    width: 300px;
}

.mat-tool-bar-styles {
    margin-bottom: 15px;
}

.img-icon-styles {
    height: 100px;
}

.mat-nav-list-a-style {
    padding-left: 18px;
}

.mat-nav-list-a-style img {
    height: 25px;
}