/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "wijmo/styles/wijmo.css";

/* Toastr */
/* @import '~ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert'; */

/* html {
    position: relative;
    min-height: 100%;
} */

body {
    background-color: #ffffff;
}

.software-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; 
    line-height: 40px; 
    background-color: #24292e;
    text-align: center;
    font-size: 15px;
    color: white;
}

.home-navbar-custom-size {
    box-shadow: 0px 0px 5px 0px #24292e;
    background-color: #24292e !important;
    color: white;
    padding: 0 1rem !important;
    border: none !important;
}

@media (max-width: 992px) {
    .home-navbar-custom-size {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}

.nav-link-home {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    color: white !important;
}

.nav-link-home:hover {
    /* background: #dfdfdf !important; */
    color: #e6c300 !important;
}

.home-container-custom-size {
    margin-top: 72px;
    border: none;
}

.software-navbar-custom-size {
    box-shadow: 0px 0px 5px 0px #24292e;
    font-size: 14px;
    background-color: #24292e;
    color: white;
    padding: 0 1rem !important;
    border: none !important;
}

.nav-link-software {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.nav-link-software:hover {
    /* background: #dfdfdf !important; */
    color: #e6c300 !important;
}

@media (max-width: 992px) {
    .software-navbar-custom-size {
        padding-top: 2.5px !important;
        padding-bottom: 2.5px !important;
    }
}

.navbar > .navbar-brand {
    font-size: 16px;
    color: white !important;
}

.side-nav-container {
    margin-top: 45px;
    height: calc(100vh - 85px);
}

.side-nav-drawer {
    padding-top: 0px;
    width: 300px;
    background-color: #f5f5f5;
    border-right: 0.5px solid #c7c7c7;
}

.mat-tool-bar-styles {
    margin-bottom: 15px;
}

.img-icon-styles {
    height: 90px;
}

.mat-nav-list-a-style {
    padding-left: 18px;
    /* color: #ffffff; */
}

.mat-nav-list-a-style img {
    height: 25px;
}

.toolBar-img-style {
    height: 30px;
    margin-bottom: 5px;
}

.toolbar-title-style {
    margin-left: 5px;
}

.form-container > * {
    width: 100%;
}

.software-navbar-brand-style {
    margin-top: -8px;
    height: 25px;
}

.home-navbar-brand-style {
    margin-top: -8px;
    height: 35px;
}

.side-nav-link-style:hover {
    transition: 0.5s all;
}

.login-container {
    padding: 0 !important;
}

.login-header {
    background-color: #24292e !important;
    padding: 15px !important;
}

.login-content {
    padding: 30px !important;
}

.login-page {
    background-color: rgb(243, 243, 243);
    height: 100vh;
    bottom: 0;
}

.btn-xs {
    padding: 0.1rem 0.1rem !important;
    font-size: 0.875rem !important; 
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
}